h1 {
    color:red;
    font-family:Arial;
    font-size:50px;
    text-align:center;
}

h2 {
    color:red;
    font-family:Arial;
    font-size:40px;
    text-align:center;
}

p {
    color:black;
    font-family:serif;
    font-size:24px;
    text-align:center;
}

body {
    background-color:lightgrey;
    text-align:center;
}

ul {
    color:black;
    text-align:center;
    display:inline-block;
}

img {
    text-align:center;
}

.center {
    text-align:center;
    border: 5px darkred;
}